@import "../../../../../themes.scss";

nb-card {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

::ng-deep nb-card-header {
    > a {
        text-decoration: none !important;
    }
}