@import "../../../../themes.scss";

.sideMenuIcon {
    .sidebar-toggle {
        @include nb-ltr(padding-right, 1.25rem);
        @include nb-rtl(padding-left, 1.25rem);
        text-decoration: none;
        color: nb-theme(text-hint-color);
        nb-icon {
            font-size: 1.75rem;
        }
    }
}

::ng-deep nb-user {
    align-self: flex-end;

    .initials,
    .user-title {
        font-family: $font-primary-regular !important;
        font-size: $font-s !important;
    }

    .user-name {
        font-family: $font-primary-medium !important;
    }
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;

    .menu-title {
        font-size: $font-s !important;
    }
}
