<nb-card>
    <nb-card-header class="boldFont">Enter user information below</nb-card-header>
    <nb-card-body class="example-items-rows">
        <input nbInput placeholder="ID" class="regularFont">
        <input #name nbInput placeholder="Name" class="regularFont">
        <input nbInput placeholder="Last Name" class="regularFont">
        <input nbInput placeholder="Username" class="regularFont">
        <input nbInput placeholder="E-mail" class="regularFont">
    </nb-card-body>
    <nb-card-footer class="example-items-rows">
        <button nbButton status="success" class="boldFont">Submit</button>
        <button nbButton status="danger" (click)="cancel()" class="cancel boldFont">Cancel</button>
    </nb-card-footer>
</nb-card>