<div class="col-md-4">
    <nb-alert status="danger" [style]="passwordsDontMatch ? 'display: flex' : 'display: none'">The passwords do not match</nb-alert>
    <nb-alert status="success" [style]="passwordChanged ? 'display: flex' : 'display: none'">Password successfully changed</nb-alert>
    <nb-card>
        <nb-card-header class="boldFont">Change Password</nb-card-header>
        <nb-card-body>
            <form [formGroup]="resetAdminPasswordForm">
                <div class="form-group">
                    <label class="label regularFont">Email address</label>
                    <nb-form-field>
                      <nb-icon nbPrefix class="fas fa-envelope"></nb-icon>
                      <input type="email" #emailInput nbInput fullWidth class="mediumFont" formControlName="email" [status]="validateField('email')">
                    </nb-form-field>
                    <div *ngIf="submitted && form['email'].errors" class="messageContainer status-danger">
                      <div *ngIf="form['email'].errors['required']" class="hiddenMessage">Email is required.</div>
                      <div *ngIf="form['email'].errors['email']" class="hiddenMessage">Email should have a valid format.</div>
                    </div>
                  </div>
                <div class="form-group">
                    <label class="label regularFont">New Password</label>
                    <nb-form-field>
                        <nb-icon nbPrefix class="fas fa-envelope"></nb-icon>
                        <input #newPasswordInput nbInput fullWidth type="password" class="mediumFont" formControlName="newPassword"
                            [status]="validateField('newPassword')">
                    </nb-form-field>
                    <div *ngIf="submitted && form['newPassword'].errors" class="messageContainer status-danger">
                        <div *ngIf="form['newPassword'].errors['required']" class="hiddenMessage">New Password is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label regularFont">Confirm Password</label>
                    <nb-form-field>
                        <nb-icon nbPrefix class="fas fa-lock"></nb-icon>
                        <input #confirmPasswordInput nbInput fullWidth type="password" class="mediumFont" formControlName="confirmPassword"
                            [status]="validateField('confirmPassword')">
                    </nb-form-field>
                    <div *ngIf="submitted && form['confirmPassword'].errors" class="messageContainer status-danger">
                        <div *ngIf="form['confirmPassword'].errors['required']" class="hiddenMessage">Confirm Password is
                            required.</div>
                    </div>
                </div>
            </form>
        </nb-card-body>
        <nb-card-footer class="example-items-rows">
            <button type="button" nbButton hero status="success" (click)="submit(emailInput.value, newPasswordInput.value)" class="boldFont">Submit</button>
            <button type="button" nbButton hero status="primary" (click)="goToLogin()" class="boldFont">Go to Login</button>
        </nb-card-footer>
    </nb-card>
</div>