@import "../../../../themes.scss";

* {
    box-sizing: border-box;
}

::ng-deep app-reset-admin-password {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    nb-alert {
        align-items: center;
        font-family: $font-primary-medium !important;
    }

    nb-card {
        align-items: center;

        nb-card-header {
            font-size: $font-l !important;
        }
    
        nb-card-footer, nb-card-footer > a {
            font-size: $font-s !important;
        }
    }
}

.form-group {
    margin-bottom: 1rem;
}