@import '../../../../themes.scss';

nb-card-header {
    font-size: $font-l !important;
}

::ng-deep .ng2-smart-title, ::ng-deep a {
    font-family: $font-primary-medium !important;
    font-weight: 800 !important;
}