nb-card {
    nb-card-footer {
        flex-flow: column;

        .one-column {
            width: calc(50% - 1rem) !important;
        }

        .two-columns {
            display: flex;
            flex-flow: row;

            >* {
                width: 50%;
            }
        }

        .field-margin {
            margin: 0 0.5rem;
        }
    }
    a {
        text-decoration: none !important;
    }

}