<nb-card>
    <nb-card-header class="boldFont">
        Role List
    </nb-card-header>

    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Active">
                <ng2-smart-table [settings]="settings" [source]="source" (create)="addRole()" (custom)="onCustom($event, true)"></ng2-smart-table>
            </nb-tab>
            <nb-tab tabTitle="Deactivated">
                <ng2-smart-table [settings]="settingsDeactive" [source]="sourceDeactive"  (custom)="onCustom($event, false)"></ng2-smart-table>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>
