<nb-card>
    <nb-card-header class="boldFont">Edit user with ID: {{ id }}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="editUserForm" class="example-items-columns">
            <div class="two-columns">
                <div class="field-margin">
                    <label class="label regularFont">First Name</label>
                    <nb-form-field>
                        <input #firstNameInput nbInput class="regularFont" formControlName="firstName" [status]="validateField('firstName')">
                    </nb-form-field>
                    <div *ngIf="submitted && form['firstName'].errors" class="messageContainer status-danger">
                        <div *ngIf="form['firstName'].errors['required']" class="hiddenMessage">First Name is required.</div>
                    </div>
                </div>
                <div class="field-margin">
                    <label class="label regularFont">Last Name</label>
                    <nb-form-field>
                        <input #lastNameInput nbInput class="regularFont" formControlName="lastName" [status]="validateField('lastName')">
                    </nb-form-field>
                    <div *ngIf="submitted && form['lastName'].errors" class="messageContainer status-danger">
                        <div *ngIf="form['lastName'].errors['required']" class="hiddenMessage">Last Name is required.</div>
                    </div>
                </div>
            </div>
            <div class="two-columns">
                <div class="field-margin">
                    <label class="label regularFont">Username</label>
                    <nb-form-field>
                        <input #usernameInput nbInput class="regularFont" formControlName="username" [status]="validateField('username')">
                    </nb-form-field>
                    <div *ngIf="submitted && form['username'].errors" class="messageContainer status-danger">
                        <div *ngIf="form['username'].errors['required']" class="hiddenMessage">Username is required.</div>
                    </div>
                </div>
                <div class="field-margin">
                    <label class="label regularFont">Is CGIAR User?</label>
                    <nb-form-field>
                        <nb-select #cgiarUserInput class="regularFont" formControlName="cgiarUser" [(selected)]="cgiarUser" [status]="validateField('cgiarUser')">
                            <nb-option value="Yes">Yes</nb-option>
                            <nb-option value="No">No</nb-option>
                        </nb-select>
                    </nb-form-field>
                    <div *ngIf="submitted && form['cgiarUser'].errors" class="messageContainer status-danger">
                        <div *ngIf="form['cgiarUser'].errors['required']" class="hiddenMessage">Is CGIAR is required.</div>
                    </div>
                </div>
            </div>
            <div class="two-columns">
                <div class="one-column field-margin">
                    <label class="label regularFont">Email</label>
                    <nb-form-field>
                        <input #emailInput nbInput class="regularFont" formControlName="email" [status]="validateField('email')">
                    </nb-form-field>
                    <div *ngIf="submitted && form['email'].errors" class="messageContainer status-danger">
                        <div *ngIf="form['email'].errors['required']" class="hiddenMessage">Email is required.</div>
                        <div *ngIf="form['email'].errors['email']" class="hiddenMessage">Email should have a valid format.</div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer class="example-items-rows">
        <button nbButton status="success" class="boldFont" (click)="submit(firstNameInput.value, lastNameInput.value, usernameInput.value, cgiarUserInput.selected, emailInput.value)">Submit</button>
        <button nbButton status="danger" (click)="cancel()" class="cancel boldFont">Cancel</button>
    </nb-card-footer>
</nb-card>