<nb-card>
    <nb-card-header class="boldFont">Edit user information below</nb-card-header>
    <nb-card-body class="example-items-columns">
        <input nbInput placeholder="ID" class="regularFont" [(ngModel)]="id" disabled>
        <input #firstNameInput nbInput placeholder="Name" class="regularFont" [(ngModel)]="firstName">
        <input #lastNameInput nbInput placeholder="Last Name" class="regularFont" [(ngModel)]="lastName">
        <input #usernameInput nbInput placeholder="Username" class="regularFont" [(ngModel)]="username">
        <input #emailInput nbInput placeholder="Email" class="regularFont" [(ngModel)]="email">
    </nb-card-body>
    <nb-card-footer class="example-items-rows">
        <button nbButton status="success" class="boldFont" (click)="submit(firstNameInput.value, lastNameInput.value, usernameInput.value, emailInput.value)">Submit</button>
        <button nbButton status="danger" (click)="cancel()" class="cancel boldFont">Cancel</button>
    </nb-card-footer>
</nb-card>