@import "../../../../../../themes.scss";

nb-card-header {
    font-size: $font-l !important;
}

::ng-deep .ng2-smart-title,
::ng-deep a {
    font-family: $font-primary-medium !important;
    font-weight: 800 !important;
}

::ng-deep ng2-st-tbody-custom {
    float: left;
    width: auto;
    display: flex;

    a.ng2-smart-action.ng2-smart-action-custom-custom {
        margin-left: 0.5em;
    }
}

::ng-deep.nb-theme-default ng2-smart-table .ng2-smart-actions a.ng2-smart-action:not(:last-child) {
    border-right: none !important;
}

::ng-deep .hide-action td.ng2-smart-actions ng2-st-tbody-custom a.ng2-smart-action:nth-child(2) {
    pointer-events: none;

    > i.fa-key {
        color: lightgrey;
    }
}

::ng-deep td.ng2-smart-actions ng2-st-tbody-edit-delete {
    display: none !important;
}